Datatypes

1. Definition:

Data types are a classification of data which wtell the compiler or interpreter how the programmer intends to use the data.
They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

2. Importance of Data Types in Programming

Explaination:
Data types ensure that data is stored in an efficient way.
They help in performing correct operatins on data.
Proper use of data types can prevent errors and bugs in the program

3. Basic Data Types

Integers
Floating-point numbers
Strings
Booleans

4. Advanced Data Types
Lists
Tuples
Sets 
Dictionaries

In [1]:
## Integer example
age = 35
type(age)

int

In [2]:
## Floating point example
height = 5.9
type(height)
print(type(float(height)))

<class 'float'>

In [3]:
## string datatype example
name = "Rupesh"
print(name)
print(type(str(name)))

Rupesh
<class 'str'>

In [4]:
## boolean datatype example
is_student = True
print(is_student)

True

In [5]:
bool(0)

False

In [6]:
a=10
b=10

type(a==b)

bool

In [7]:
# common errors
result="Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [8]:
result="Hello" + str(5)