In [1]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst=list()
print(type(lst))
tp=tuple()
print(type(tp))

<class 'list'>
<class 'tuple'>

In [4]:
numbers=tuple([1,2,3,4,5,6,7,8,9,10])
numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [6]:
mixed_tuple=(1,2.5,"hello",True,[1,2,3],(4,5,6))
print(mixed_tuple)

(1, 2.5, 'hello', True, [1, 2, 3], (4, 5, 6))

In [ ]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [8]:
numbers[0]

1

In [9]:
numbers[2]

3

In [10]:
print(numbers[-1])

10

In [11]:
numbers[0:4]

(1, 2, 3, 4)

In [12]:
numbers[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [13]:
##tuple operations

concatenation_tuple= numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2.5, 'hello', True, [1, 2, 3], (4, 5, 6))

In [14]:
mixed_tuple * 3

(1,
 2.5,
 'hello',
 True,
 [1, 2, 3],
 (4, 5, 6),
 1,
 2.5,
 'hello',
 True,
 [1, 2, 3],
 (4, 5, 6),
 1,
 2.5,
 'hello',
 True,
 [1, 2, 3],
 (4, 5, 6))

In [ ]:
numbers *3ssssnumbe   nnnnumnum

(1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10)

In [16]:
## Immutable nature of tuples
## tuples are immutable, meaning once created, their elements cannot be changed, added, or removed.

lst = [1, 2, 3]
print(lst)

lst[1]="Rupesh"
print(lst)

[1, 2, 3]
[1, 'Rupesh', 3]

In [1]:
numbers[1]="Rupesh"

NameError: name 'numbers' is not defined

In [2]:
## Tuples Methods

numbers

NameError: name 'numbers' is not defined

In [3]:
numbers=tuple([1,2,3,4,5,6,7,8,9,10])

In [5]:
# Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [7]:
## packing and unpacking tuples

packed_tuple=1, "hello",3.5,True
print(packed_tuple)

(1, 'hello', 3.5, True)

In [8]:
## unpacking a tuple
a,b,c,d=packed_tuple
print(a)
print(b)
print(c)
print(d)

1
hello
3.5
True

In [9]:
## Unpacking with asterisk (*)
numbers=(1,2,3,4,5,6,7,8,9,10)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [12]:
## nested tuple
## nested list

lst=[[1,2,3],[4,5,6],[7,8,9],[1,"Hello",3.5]]
lst[0][0:3]

[1, 2, 3]

In [13]:
lst=[[1,2,3],[4,5,6],[7,8,9],[1,"Hello",3.5,"c"]]
lst[2][0:3]

[7, 8, 9]

In [14]:
nested_tuple=((1,2,3),(4,5,6),(7,8,9),("Hello",3.5,"c"))

##access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[0][1])
print(nested_tuple[3][0])

(1, 2, 3)
2
Hello

In [15]:
## iterating over nested tupels

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
4 5 6
7 8 9
Hello 3.5 c